
.ui.item.menu,
.ui.item.menu .item {
 

}
/*--------------
      Hover
---------------*/

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  cursor: pointer;
  background: rgba(0, 50, 0, 0.02);
  color: rgba(40, 120, 180, 0.95);
   background-color: rgba(50,150,250,0.11);
   font-size: 1.7vh;
   border-radius: 20px;
   margin-right: 1.6em;
  text-decoration: underline;
  
}

/*--------------
     Pressed
---------------*/

.ui.link.menu .item:active,
.ui.menu .link.item:active,
.ui.menu a.item:active {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 255, 0, 0.2);
}

/*--------------
     Active
---------------*/

.ui.menu .active.item {
  background: rgba(255, 255, 0, 0.05);
  color: rgba(255, 255, 255, 0.95);
  font-weight: normal;
  -webkit-box-shadow: none;
  box-shadow: none;

}
.ui.menu .item {
  background-color: rgba(0,0,0,0.0);
  
  color: rgba(255, 255, 255, 0.90);
  font-weight: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1.2em;
  margin-right: 1.5em;
  padding-bottom: 1.7vh;
  font-size: 1.7vh;
}
.ui.menu {
background-color: rgba(93,89,88,0.68);
	filter: blur(0.05px);
	
}



body{
	
	background-color: rgba(128,128,128,0.35);
}





.Together .halfimg{
		background-image: url("../images/halfpage.jpg");
	background-repeat: no-repeat;
	background-size: cover;

padding-bottom: 80vh;
   top: 0em;
bottom: 5em;
	filter: blur(3px);
	 z-index: -1;
    position: absolute;
 max-width: 100%;
    width: 100%;
}
.MainBorderText{
	
background-color: rgba(0,0,0, 0.5);
	color: white;
  font-weight: bold;
  border: 3px solid #FFFFFF;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 36.5vw;
  height: 35vh;
  padding: 12vh;
  text-align: center;
 border-radius: 14px;
 
}
.MainBorderText h1{
	font-size: 4vh;

}

.slide-out-div{
	color: black;
	
	
}
body{
	
	
}

.disclaimer .ui.form.segment{
	 position: absolute;
		z-index: 3;
	width: 50%;
	  top: 40%;
  left: 25%;
  text-align: center;
  border-radius: 20px;
  
}

.disclaimer{

	
}
.Left{
	padding-top: 1em;
	float: left;
	border-radius: 10px;
/*border: 1.7px solid rgba(0, 0, 230, .4);*/
	padding-right: 50px;
	padding-bottom: 30px;
	background-color: rgba(128,128,128,0.15);
		top: 82.6%;
		left: 3vw;
	width: 28vw;
text-align: center;
font-weight: bold;
	border-color: black;
border: 2.9px solid;
  border-image-slice: 80;
  border-image-source: linear-gradient(to right, rgba(20,255,0,0.3), rgba(20,0,255,0.5));
    z-index: -1;
    position: absolute;
	font-size: 1.55vh;
}
.Middle{
	padding-top: 1em;
	float: left;
	border-radius: 10px;
/*border: 1.7px solid rgba(0, 0, 230, .4);*/
	padding-right: 25px;
	padding-bottom: 30px;
	background-color: rgba(128,128,128,0.1);
	top: 82.6%;
	left: 36vw;
	width: 28vw;
	text-align: center;
	font-weight: bold;
border: 2.9px solid;
  border-image-slice: 80;
  border-image-source: linear-gradient(to bottom, rgba(20,255,0,0.3), rgba(20,0,255,0.5));
    z-index: -1;
    position: absolute;
	font-size: 1.55vh;
}
.Right{
	padding-top: 1em;
	float: right;
	border-radius: 10px;
	padding-right: 50px;
	padding-bottom: 30px;
	background-color: rgba(128,128,128,0.1);
	top: 82.6%;
	right: 3vw;
	width: 28vw;
	text-align: center;
	font-weight: bold;

border: 2.9px solid;
  border-image-slice: 80;
  border-image-source: linear-gradient(to left, rgba(20,255,0,0.3), rgba(20,0,255,0.5));
 z-index: -1;
    position: absolute;
	font-size: 1.55vh;
}

.Left p{
margin-top: 10px;
text-align: center;
filter: blur(0.45px);
	
}
.Middle p{
margin-top: 10px;
filter: blur(0.45px);
}
.Right p{
margin-top: 10px;
filter: blur(0.45px);
}
i.icon{
	margin-left: 1em;
	filter: blur(0.7px);
	font-size: 3.5em!important;
}

#centerText{
	margin-left: 3em;
}

=====================================================================
                          Test Page
=====================================================================

.TestPage .img{
		background-image: url("../images/testPage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 740px;
	filter: blur(3px);
	 z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
